<header class="header">
  <div class="container header-container">
    <div class="logo">
      <a routerLink="/" style="text-decoration: none;">
        <span class="logo-text">Precio<span class="highlight">Fácil</span></span>
      </a>
    </div>
    
    <nav class="nav">
      <ul class="nav-links">
        <li><a routerLink="/" fragment="features">Características</a></li>
        <li><a routerLink="/" fragment="mission">Nosotros</a></li>
      </ul>
    </nav>

    <div class="header-actions">
      <a routerLink="/login" class="btn btn-outline">Iniciar Sesión</a>
      <a routerLink="/registro" class="btn btn-secondary">Probar Ahora Gratis</a>
    </div>
  </div>
</header>
