<section class="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1>Deja de adivinar tus precios. <br>Asegura tu ganancia con cada venta.</h1>
      <p>PrecioFácil es la herramienta financiera para micro-emprendedores. Transforma tus costos al tanteo en precios justos y rentables, sin necesidad de ser un experto en finanzas.</p>
      <div class="hero-actions">
        <a routerLink="/registro" class="btn btn-secondary btn-large">Empezar a Calcular Gratis</a>
      </div>
    </div>
    <div class="hero-image">
      <div class="app-mockup">
        <div class="mockup-header"></div>
        <div class="mockup-body">
          <div class="mockup-line"></div>
          <div class="mockup-chart"></div>
          <div class="mockup-line short"></div>
        </div>
      </div>
    </div>
  </div>
</section>
