@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-primary: #10b981;
  --color-primary-dark: #059669;
  --color-secondary: #1e293b;
  --color-secondary-dark: #0f172a;
}

@utility dynamic-blur {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
